<div id="contractmemberbycontract4raci-section">
  <div class="mb-9">
    <!-- <h2 class="mb-4"><%- title %></h2> -->
    <div class="mb-1 text-end">
      <div class="">
        <!-- <a onclick="contractmemberbycontract4raciobject.tbl.create()" class="btn btn-subtle-primary">Create New</a> -->

        <div class="form-check form-switch form-check-inline">
          <input class="form-check-input" id="flexSwitchApplyInheritance" type="checkbox" checked
            onchange="contractmemberbycontract4raciobject.inheritchange(this)" />
          <label class="form-check-label" for="flexSwitchApplyInheritance">Apply Inheritance</label>
        </div>
        <a onclick="contractmemberbycontract4raciobject.tbl.assignToRACI()" class="btn btn-subtle-secondary">Assign
          RACI</a>
        <!-- <a onclick="contractmemberbycontract4raciobject.tbl.assignToRACIAndInherit()" class="btn btn-subtle-secondary">Assign RACI and Inherit</a>          -->
      </div>
    </div>
    <div class="row-fluid">
      <div class="card">
        <div class="card-body">
          <div class="search-box mb-3 mx-auto d-none">
            <div class="position-relative">
              <input class="form-control search-input search form-control-sm" type="search" placeholder="Search"
                aria-label="Search" />
              <span class="fas fa-search search-box-icon"></span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm fs-9 mb-5">
              <tbody class="list">
                <!-- Table datas will be added here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var contractmemberbycontract4raciobject = {};
    contractmemberbycontract4raciobject.model = JSON.parse('<%- JSON.stringify(model) %>');
    contractmemberbycontract4raciobject.container = document.getElementById("contractmemberbycontract4raci-section");//khu vực chứa danh sách
    contractmemberbycontract4raciobject.worktype = contractmemberbycontract4raciobject.model.url.query.worktype;
    contractmemberbycontract4raciobject.urldata = {
      lists: `/contractmember/memberbycontract?id=${contractmemberbycontract4raciobject.model.url.query.id}&pagesize=0`,
      item: '/contractmember/item',
      create: '/contractmember/create?callback=' + encodeURIComponent('contractmemberbycontract4raciobject.createcallback'),
      edit: '/contractmember/edit?callback=' + encodeURIComponent('contractmemberbycontract4raciobject.editcallback'),
      delete: '/contractmember/delete',
      raci: `/contractmember/raci?worktype=${encodeURIComponent(contractmemberbycontract4raciobject.worktype)}`,
      raciandinherit: '/contractmember/raciandinherit?worktype=' + encodeURIComponent(contractmemberbycontract4raciobject.worktype),
    };

    // console.log(contractmemberbycontract4raciobject.model);
    contractmemberbycontract4raciobject.isinherit = true;
    contractmemberbycontract4raciobject.inheritchange = function (element) {
      contractmemberbycontract4raciobject.isinherit = !contractmemberbycontract4raciobject.isinherit;
    }


    contractmemberbycontract4raciobject.createcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        //contractmemberbycontract4raciobject.tbl.onAddRowData({ data: response[0].data.data });
        senapp.sidebar.menuclickbydatalink('/contractmemberbycontract4raci');
      }
    };

    contractmemberbycontract4raciobject.editcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        //contractmemberbycontract4raciobject.tbl.onChangeRowData({ data: response[0].data.data });
        senapp.sidebar.menuclickbydatalink('/contractmemberbycontract4raci');
      }
    };
    //ẩn hết các trường chỉ để lại trường cần thiết
    contractmemberbycontract4raciobject.model.meta.forEach(element => {
      const excludedFields = ['Account']; // Danh sách các trường không cần thiết
      if (!excludedFields.includes(element.field)) { element.visible = false; }
    });

    // Khởi tạo bảng
    contractmemberbycontract4raciobject.tbl = new senapp.utils.table({
      meta: contractmemberbycontract4raciobject.model.meta,
      urldata: contractmemberbycontract4raciobject.urldata,
      container: contractmemberbycontract4raciobject.container,
      tableelement: contractmemberbycontract4raciobject.container.querySelector('table'),
      modal: true,
      selectcolumn: false,
      deleterow: true, // cho phép xóa
      filterrow: false, // không hiển thị filter row
      //filtercompact: false // hiển thị filter row ở dạng compact
      loadmoreonvisible: true, // tự động tải thêm dữ liệu khi cuộn đến cuối danh sách
      allowsorting: false, //cho phép sắp xếp hay không      
      //loadmoreshowtoast: true,
      metacolumns: [
        { field: 'SysAction', visible: false },
        { field: 'R', description: 'Responsible', colorder: 100, visible: true, show: true },
        { field: 'A', description: 'Accountable', colorder: 103, visible: true, show: true },
        { field: 'C', description: 'Consulted', colorder: 104, visible: true, show: true },
        { field: 'I', description: 'Informed', colorder: 105, visible: true, show: true },
      ],
      customcolumns: ['R', 'A', 'C', 'I'],
    });

    contractmemberbycontract4raciobject.tbl.genCellDataCustom = function ({ data, metacolumn }) {
      if (!metacolumn || !metacolumn.field) {
        return null; // Trả về null nếu không có metacolumn hoặc field
      }
      // Hàm này sẽ được sử dụng để tạo dữ liệu cho các cột tùy chỉnh
      const tableobject = this;
      const td = document.createElement('td');
      td.setAttribute('data-field', metacolumn.field);
      //nếu field.visible là false hoặc field.show là false thì không hiển thị cột này  gán class d-none
      if (!metacolumn.show) { td.classList.add('d-none'); }

      switch (metacolumn.field) {
        case "R":
        case "A":
        case "C":
        case "I":
          const checkbox = document.createElement('input');
          checkbox.type = 'checkbox';
          checkbox.className = 'form-check-input';
          checkbox.value = data[metacolumn.field];
          //nếu data[metacolumn.field]==true thì checkbox chọn
          if (data[metacolumn.field] == true) { checkbox.checked = true; }
          //khi thay đổi thì gọi hàm updateData của  tableobject
          checkbox.onchange = function () {
            data[metacolumn.field] = this.checked;
            // tableobject.updateByKey(data[tableobject.keyfield]);
          };
          td.appendChild(checkbox);
          break;
        default:
          //nếu không phải là cột tùy chỉnh thì trả về giá trị của trường đó
          td.innerHTML = data[metacolumn.field] || '';
          break;
      }
      return td;
    }

    contractmemberbycontract4raciobject.tbl.deleteparaext = function (data) {
      //dùng cho override
      return `?Account=${encodeURIComponent(data.Account)}&ContractId=${encodeURIComponent(contractmemberbycontract4raciobject.model.url.query.id)}`;
    }

    contractmemberbycontract4raciobject.tbl.assignToRACI = async function () {
      if (senapp.window.confirm({ message: 'Are you sure you want to assign RACI to the selected members?' }) !== true) {
        return;
      }

      senapp.window.loading.show();
      const tableobject = contractmemberbycontract4raciobject.tbl;
      // //quét trong tableobject.datas nếu có ít nhất trường R,A,C,I=true thì mới thêm vào danh sách
      // const accountsToAssign = tableobject.datas.filter(data => {
      //   return (data.R === true || data.A === true || data.C === true || data.I === true);
      // }).map(data => {
      //   return {
      //     Account: data.Account,
      //     R: data.R === true,
      //     A: data.A === true,
      //     C: data.C === true,
      //     I: data.I === true
      //   };
      // });

      //quét không cần lọc
      //quét trong tableobject.datas nếu có ít nhất trường R,A,C,I=true thì mới thêm vào danh sách
      const accountsToAssign = tableobject.datas.map(data => {
        return {
          Account: data.Account,
          R: data.R === true,
          A: data.A === true,
          C: data.C === true,
          I: data.I === true
        };
      });

      // console.log('Accounts to assign:', accountsToAssign);

      if (accountsToAssign.length === 0) {
        senapp.window.loading.hide();
        return;
      }

      try {
        // Tạo mảng Promise bất đồng bộ
        let url = `${contractmemberbycontract4raciobject.urldata.raci}&ContractId=${encodeURIComponent(contractmemberbycontract4raciobject.model.url.query.id)}&ItemIds=${encodeURIComponent(contractmemberbycontract4raciobject.model.url.query.idlines)}`;
        url += `&isinherit=${contractmemberbycontract4raciobject.isinherit ? 'yes' : 'no'}`;
        const promises = accountsToAssign.flatMap(async contractmemberraci => {
          const res = await fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(contractmemberraci)
          });
          if (!res.ok) { throw new Error(`HTTP error! status: ${res.status}`); }
          const response = await res.json(); // hoặc .text() nếu API không trả JSON
          if (response.status == 0) {
            senapp.window.toast({ message: response.message, type: 'danger' });
          } else {
            senapp.window.toast({ message: response.message, type: 'success' });
          }
        });
        await Promise.all(promises);
        senapp.window.loading.hide();
        console.log("Tất cả đã xong!");
      } catch (err) {
        senapp.window.loading.hide();
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('An error occurred while processing:')}`, type: 'danger' });
        console.error("Có lỗi :", err);
      }
    }

    contractmemberbycontract4raciobject.tbl.assignToRACIAndInherit = async function () {
      if (senapp.window.confirm({ message: 'Are you sure you want to assign RACI and inherit from Contract Members?', type: 'warning' }) !== true) {
        return;
      }

      senapp.window.loading.show();
      const tableobject = contractmemberbycontract4raciobject.tbl;
      // //quét trong tableobject.datas nếu có ít nhất trường R,A,C,I=true thì mới thêm vào danh sách
      // const accountsToAssign = tableobject.datas.filter(data => {
      //   return (data.R === true || data.A === true || data.C === true || data.I === true);
      // }).map(data => {
      //   return {
      //     Account: data.Account,
      //     R: data.R === true,
      //     A: data.A === true,
      //     C: data.C === true,
      //     I: data.I === true
      //   };
      // });

      //quét không cần lọc
      //quét trong tableobject.datas nếu có ít nhất trường R,A,C,I=true thì mới thêm vào danh sách
      const accountsToAssign = tableobject.datas.map(data => {
        return {
          Account: data.Account,
          R: data.R === true,
          A: data.A === true,
          C: data.C === true,
          I: data.I === true
        };
      });

      // console.log('Accounts to assign:', accountsToAssign);

      if (accountsToAssign.length === 0) {
        senapp.window.loading.hide();
        return;
      }

      try {
        // Tạo mảng Promise bất đồng bộ
        const url = `${contractmemberbycontract4raciobject.urldata.raciandinherit}&ContractId=${encodeURIComponent(contractmemberbycontract4raciobject.model.url.query.id)}&ItemIds=${encodeURIComponent(contractmemberbycontract4raciobject.model.url.query.idlines)}`;
        const promises = accountsToAssign.flatMap(async contractmemberraci => {
          const res = await fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(contractmemberraci)
          });
          if (!res.ok) { throw new Error(`HTTP error! status: ${res.status}`); }
          const response = await res.json(); // hoặc .text() nếu API không trả JSON
          if (response.status == 0) {
            senapp.window.toast({ message: response.message, type: 'danger' });
          } else {
            senapp.window.toast({ message: response.message, type: 'success' });
          }
        });
        await Promise.all(promises);
        senapp.window.loading.hide();
        console.log("Tất cả đã xong!");
      } catch (err) {
        senapp.window.loading.hide();
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('An error occurred while processing:')}`, type: 'danger' });
        console.error("Có lỗi :", err);
      }
    }


    $(async function () {
      //lấy danh sách RACI
      const racilistres = await fetch(`/common/lookup?lookupType=raci_list`);
      const racilistdata = await racilistres.json();
      contractmemberbycontract4raciobject.racilist = racilistdata.datas;
      //console.log('RACI List:', racilist);
      //map labels cho các cột RACI trong metacolumns
      contractmemberbycontract4raciobject.tbl.metacolumns.forEach(metacolumn => {
        if (['R', 'A', 'C', 'I'].includes(metacolumn.field)) {
          metacolumn.description = contractmemberbycontract4raciobject.racilist.find(r => r.Role === metacolumn.field)?.RoleName || metacolumn.description;
          metacolumn.colorder = 100 + (['R', 'A', 'C', 'I'].indexOf(metacolumn.field) * 10);
        }
      });

      contractmemberbycontract4raciobject.tbl.initTable();
    });

  </script>

</div>