<div id="forgotpassword-section">
  <div class="row flex-center min-vh-100 py-5">
    <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4"><a class="d-flex flex-center text-decoration-none mb-4" href="/">
        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img src="/assets/img/icons/logo.png"
            alt="phoenix" width="58" />
        </div>
      </a>
      <div class="px-xxl-5">
        <div class="text-center mb-6">
          <% if (!model.message) { %>
            <h4 class="text-body-highlight"><span class="sen-label">Forgot your password?</span></h4>
            <p class="text-body-tertiary mb-5"><span class="sen-label">Enter your email below and we will send you a reset password</span></p>
            <form class="d-flex align-items-center mb-5" method="POST" action="/forgotpassword">
              <input class="form-control flex-1" id="email" type="email" name="email" placeholder="Email" />
              <button class="btn btn-primary ms-2" type="submit"><span class="sen-label">Send</span><span class="fas fa-chevron-right ms-2"></span></button>
            </form>
            <% } else { %>
              <h3 class="text-body-highlight">
                <%= model.message %>
              </h3>
              <div class="text-center"><a class="fs-9 fw-bold" href="/login"><span class="sen-label">Sign in</span></a>
              </div>
              <% } %>

                <% if (model.error) { %>
                  <p class="text-danger">
                    <%= model.error %>
                  </p>
                  <% } %>
                    <!-- <a class="fs-9 fw-bold" href="#!">Still having problems?</a> -->
        </div>
      </div>
    </div>
  </div>
  <script>
    var forgotpasswordobject = {};
    forgotpasswordobject.model = JSON.parse('<%- JSON.stringify(model) %>');
    forgotpasswordobject.container = document.getElementById("forgotpassword-section");//khu vực chứa form nghiệp vụ
    // document.addEventListener("DOMContentLoaded", function () { senapp.utils.text.initLocaleLabels({ container: forgotpasswordobject.container }); });
  </script>

</div>