<div class="row flex-center min-vh-100 py-5">
  <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4"
      href="/">
      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img src="/assets/img/icons/logo.png"
          alt="phoenix" width="58" />
      </div>
    </a>
    <div class="text-center mb-6">
      <h4 class="text-body-highlight"><span class="sen-label">Reset new password</span></h4>
      <p class="text-body-tertiary"><span class="sen-label">Type your new password</span></p>
      <!-- Thông báo tổng -->
      <% if (model.error) { %>
        <div class="callout callout-danger" role="alert">
          <%= model.error %>
        </div>
        <% } %>

          <form class="mt-5" method="POST" action="/resetpassword">
            <div class="position-relative mb-2" data-password="data-oldpassword">
              <input class="form-control form-icon-input pe-6" id="oldpassword" type="password" name="oldpassword"
                placeholder="Type old password" data-password-input="data-oldpassword-input" />
              <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary"
                data-password-toggle="data-password-toggle" type="button"><span class="uil uil-eye show"></span><span
                  class="uil uil-eye-slash hide"></span></button>
            </div>

            <div class="position-relative mb-2" data-password="data-password">
              <input class="form-control form-icon-input pe-6" id="password" type="password" name="password"
                placeholder="Type new password" data-password-input="data-password-input" />
              <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary"
                data-password-toggle="data-password-toggle" type="button"><span class="uil uil-eye show"></span><span
                  class="uil uil-eye-slash hide"></span></button>
            </div>
            <div class="position-relative mb-4" data-password="data-password">
              <input class="form-control form-icon-input pe-6" id="confirmPassword" name="confirmpassword"
                type="password" placeholder="Confirm new password" data-password-input="data-password-input" />
              <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary"
                data-password-toggle="data-password-toggle" type="button"><span class="uil uil-eye show"></span><span
                  class="uil uil-eye-slash hide"></span></button>
            </div>

            <button class="btn btn-primary w-100" type="submit"><span class="sen-label">Set Password</span></button>
          </form>
    </div>
  </div>
</div>
<script>
  var resetpassword = {};
  resetpassword.model = JSON.parse('<%- JSON.stringify(model) %>');
  //console.log(resetpassword.model);
</script>