<div id="senobject-section">
  <div class="mb-9">
    <h2 class="mb-4"><%- title %></h2>
    <div class="mb-1">
      <div class="">
        <div class="btn-group me-1">

          <div class="dropdown">
            <a class="btn btn-subtle-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" onclick="senobjectobject.tbl.deleteBySelected()"><span class="sen-label">Delete Selected</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="senobjectobject.assignToModule()"><span class="sen-label">Assign To Module</span></a>
              <a class="dropdown-item" onclick="senobjectobject.assignToMember()"><span class="sen-label">Assign To Member</span></a>
            </div>
          </div>

        </div>
        <div class="btn-group me-1">
          <a onclick="senobjectobject.tbl.create()" class="btn btn-subtle-primary"><span class="sen-label">Create New</span></a>
        </div>
        <div class="btn-group me-1">
          <a onclick="senobjectobject.tbl.deleteBySelected()" class="btn btn-subtle-secondary"><span class="sen-label">Delete Selected</span></a>
          <a onclick="senobjectobject.tbl.saveNews()" class="btn btn-subtle-secondary"><span class="sen-label">Save News</span></a>
          <a onclick="senobjectobject.assignToModule()" class="btn btn-subtle-secondary"><span class="sen-label">Assign To Module</span></a>

          <a onclick="senobjectobject.assignToMember()" class="btn btn-subtle-secondary"><span class="sen-label">Assign To Member</span></a>

          <a onclick="senobjectobject.shownews()" class="btn btn-subtle-secondary"><span class="sen-label">View Card</span></a>
        </div>


      </div>
    </div>
    <div class="row-fluid">
      <div class="card">
        <div class="card-body">
          <div class="search-box mb-3 mx-auto">
            <div class="position-relative">
              <input class="form-control search-input search form-control-sm" type="search" placeholder="Search"
                aria-label="Search" />
              <span class="fas fa-search search-box-icon"></span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm fs-9 mb-5 table-hover">
              <tbody class="list">
                <!-- Table datas will be added here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var senobjectobject = {};
    senobjectobject.model = JSON.parse('<%- JSON.stringify(model) %>');
    senobjectobject.container = document.getElementById("senobject-section");//khu vực chứa danh sách
    senobjectobject.urldata = {
      lists: '/senobject/list',
      item: '/senobject/item',
      create: '/senobject/create?callback=' + encodeURIComponent('senobjectobject.createcallback'),//+'&id=1',
      edit: '/senobject/edit?callback=' + encodeURIComponent('senobjectobject.editcallback'),
      delete: '/senobject/delete',
      update: '/senobject/edit'
    };

    senobjectobject.createcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        senobjectobject.tbl.onAddRowData({ data: response[0].data });
        //senapp.sidebar.menuclickbydatalink('/senobject');
      }
    };
    senobjectobject.editcallback = function (response) {
      //nếu response[0] tồn tại thì hiển thị thông báo lỗi
      if (response[0]) {
        if (response[0].status == 0) {
          alert(response[0].message);
          return;
        }
        senobjectobject.tbl.onChangeRowData({ data: response[0].data });
        //senapp.sidebar.menuclickbydatalink('/senobject');
      }
    };
    // Khởi tạo bảng
    senobjectobject.tbl = new senapp.utils.table({
      meta: senobjectobject.model.meta,
      urldata: senobjectobject.urldata,
      container: senobjectobject.container,
      tableelement: senobjectobject.container.querySelector('table'),
      modal: true,
      selectcolumn: true, // có hiển thị cột chọn hay không
      addrow: true, // cho phép thêm mới
      editrow: true, // cho phép sửa
      deleterow: true, // cho phép xóa
      readonly: false, //chế độ chỉ đọc
      filterrow: true, // có hiển thị filter row hay không
      filtercompact: false,
      loadmoreonvisible: true, // tự động tải thêm dữ liệu khi cuộn đến cuối danh sách      
      sysnoviewcard: true, // cho phép xem card khi click vào số thứ tự
      metacolumns: [
        { field: 'Ext01', description: 'Ext01', colorder: 1, visible: true, show: true },
        { field: 'Ext02', description: 'Ext02', colorder: 2, visible: true, show: true },
        // { field: 'SysNo', description: 'Số thứ tự', colorder: -50, visible: true, show: false },
        // { field: 'SysSelect', description: 'SysSelect', colorder: -7, visible: true, show: true },
        // { field: 'String', description: 'Chuỗi', width: 150, visible: true, show: true },
        // { field: 'Id', description: 'ID', width: 100, visible: true, show: true }
      ],
      customcolumns: ['Ext01', 'Ext02'],// ['SysNo', 'String', 'Id'], // Danh sách các cột tùy chỉnh khi render cell
      // filtercompact: true, // hiển thị filter row ở dạng compact
      allowexport2excel: true,//cho phép xuất Excel
      datanew: senobjectobject.model.datanew,
      // addnewfirst:false //thêm mới ở đầu danh sách
      // actionbuttons: { edit: false, savenews: false, exportexcel: true, viewcard: true }, //hiển thị các nút hành động
    });

    //#region test
    senobjectobject.tbl.genCellDataCustom = function ({ data, metacolumn }) {
      if (!metacolumn || !metacolumn.field) {
        return null; // Trả về null nếu không có metacolumn hoặc field
      }
      // Hàm này sẽ được sử dụng để tạo dữ liệu cho các cột tùy chỉnh
      const tableobject = this;
      const td = document.createElement('td');
      td.setAttribute('data-field', metacolumn.field);
      //nếu field.visible là false hoặc field.show là false thì không hiển thị cột này  gán class d-none
      if (!metacolumn.show) { td.classList.add('d-none'); }

      switch (metacolumn.field) {
        case 'Ext01':
          td.innerHTML = `<a href="javascript:;" onclick="senobjectobject.loadLine(this)">${data["String"] || ''}</a>`;
          break;
        case 'Ext02':
          const alink = document.createElement('a');
          alink.href = 'javascript:;';
          alink.onclick = function () {
            tableobject.cardview({ datas: [data] });
          };
          alink.textContent = data["String"] || '';
          td.appendChild(alink);
          break;
        case 'SysNo':
          return this.genCellDataNo({ data, metacolumn });
          break;
        case 'String':
          //nếu metacolumn.field là 'String' thì nội dung là giá trị của
          td.innerHTML = `<strong>${data[metacolumn.field] || ''}</strong>`;
          break;
        case 'Id':
          //nếu metacolumn.field là 'Id' thì nội dung là giá trị của
          const editLink = document.createElement('a');
          editLink.dataset.id = data[tableobject.keyfield];
          editLink.href = 'javascript:;';
          editLink.onclick = function () { tableobject.edit(this); };
          editLink.textContent = data[metacolumn.field];
          td.appendChild(editLink);
          break;
        default:
          //nếu không phải là cột tùy chỉnh thì trả về giá trị của trường đó
          td.innerHTML = data[metacolumn.field] || '';
          break;
      }
      return td;
    }
    senobjectobject.assignToModulecallback = async function (response) {
      // Callback function for lookup
      console.log('Response from assignToModule:', response);
      if (response && response.length > 0) {
        // Process the selected modules
        console.log('Selected members:', response);
        senapp.window.loading.show();
        const tableobject = senobjectobject.tbl;
        const selectedKeys = tableobject.getKeySelected();
        // const promises = selectedKeys.flatMap(id =>
        //   response.map(m => tableobject.deleteByKey(id))
        // );
        try {
          // Tạo mảng Promise phẳng (1 chiều)
          const promises = selectedKeys.flatMap(id =>
            response.map(m => tableobject.deleteByKey(id)) // deleteByKey phải return Promise
          );
          await Promise.all(promises);
          senapp.window.loading.hide();
          console.log("Tất cả đã xóa xong!");
        } catch (err) {
          senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Có lỗi khi xóa:')}`, type: 'danger' });
          console.error("Có lỗi khi xóa:", err);
        }

      }
      else {
        senapp.window.alert({ message: '⚠️ No modules selected.', type: 'warning' });
      }

    };
    senobjectobject.assignToModule = async function () {
      const selectedKeys = senobjectobject.tbl.getKeySelected();
      if (selectedKeys.length === 0) {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Please select at least one row to assign.')}`, type: 'danger' });
        return;
      }

      const lookupfilter = {
        url: '/member/lookup', fields: { id: '`${item.UserId}`', value: '`${item.UserId}`', label: '`${item.Email}`' },
        //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
        filter: { logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }] }
      };
      senapp.window.lookup({ options: { title: 'Select Members', multiple: true, callback: 'senobjectobject.assignToModulecallback', lookup: lookupfilter } });
    };
    senobjectobject.assignToMembercallback = async function (response) {
      // Callback function for lookup
      console.log('Response from assignToMember:', response);
      if (response && response.length > 0) {
        // Process the selected modules
        console.log('Selected modules:', response);
        senapp.window.loading.show();
        const tableobject = senobjectobject.tbl;
        const selectedKeys = tableobject.getKeySelected();
        // const promises = selectedKeys.flatMap(id =>
        //   response.map(m => tableobject.deleteByKey(id))
        // );
        try {
          // Tạo mảng Promise phẳng (1 chiều)
          const promises = selectedKeys.flatMap(id =>
            response.map(m => tableobject.deleteByKey(id)) // deleteByKey phải return Promise
          );
          await Promise.all(promises);
          senapp.window.loading.hide();
          console.log("Tất cả đã xóa xong!");
        } catch (err) {
          senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Có lỗi khi xóa:')}`, type: 'danger' });
          console.error("Có lỗi khi xóa:", err);
        }

      }
      else {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('No modules selected.')}`, type: 'warning' });
      }

    };
    senobjectobject.assignToMember = async function () {
      const selectedKeys = senobjectobject.tbl.getKeySelected();
      if (selectedKeys.length === 0) {
        senapp.window.alert({ message: `⚠️ ${await senapp.utils.text.t('Please select at least one row to assign.')}`, type: 'danger' });
        return;
      }

      const lookupfilter = {
        url: '/module/lookup', fields: { id: '`${item.ModuleId}`', value: '`${item.Code}`', label: '`${item.Code}-${item.Description}`' },
        //filter: { logic: "and", conditions: [{ field: "Description", op: "includes", value: '' }] }
        filter: { logic: "and", conditions: [{ field: "searchTerm", op: "includes", value: '' }] }
      };
      senapp.window.lookup({ options: { title: 'Select Modules', multiple: true, callback: 'senobjectobject.assignToMembercallback', lookup: lookupfilter } });
    };

    senobjectobject.loadLine = function (element) {
      const tableobject = senobjectobject.tbl;
      const id = parseInt(element.closest('tr').getAttribute('data-id'));
      const data = tableobject.datas.find(item => item[tableobject.keyfield] === id);
      const urlline = "/clientmember?viewname=clientmemberbyclient";
      senapp.window.offcanvas({
        title: `User List of ${data["String"] || ''}`,
        url: urlline
      });
    };
    //#region dev
    senobjectobject.tbl.datanews.length = 0;//xóa dữ liệu cũ
    // for (let i = 1; i <= 3; i++) {
    //   senobjectobject.tbl.datanews.push({
    //     GId: `gid-${i}`,
    //     Id: i * (-1),
    //     Bigint: 1000000000 + i,
    //     Numeric: 100.5 + i,
    //     String: `Sample String ${i}`,
    //     Options: `${i % 3}`,
    //     Lookup: `Lookup${i % 5}`,
    //     LookupMulti: `LookupMulti${i % 4},LookupMulti${i % 2}`,
    //     DateTime: new Date(2024, 0, i, 10, 30, 0),
    //     Boolean: i % 2 === 0,
    //     Date: new Date(2024, 0, i),
    //     Text: `Sample text for row ${i}`
    //   });
    // }
    
    senobjectobject.shownews = function () {
      const tableobject = senobjectobject.tbl;
      const datas = [tableobject.datanew];
      tableobject.cardview();
    };

    //hàm onChangeCellAdd khi td mất focus và có thay đổi dữ liệu
    senobjectobject.tbl.onChangeCellAdd = async function ({ td, data } = {}) {
      // console.log('onChangeCellAdd:', td, data);
      //nếu chứa class edited thì cập nhật lên server
      if (td.parentElement.classList.contains('edited')) {
        const fieldName = td.getAttribute('data-field');
        switch (fieldName) {
          case 'Bigint':
            if (data.Bigint !== 0) {
              // senapp.window.toast({ message: `Bigint must be ${data.Bigint}`, type: 'info' });
              data.Numeric = data.Bigint;
              //this.updateCellByData(data, 'Numeric');
              this.refreshCellDisplayByData({ data, fields: ['Numeric'] });
              // this.refreshRowDisplayByData({data});
              return;
            }
            break;
        }

        // const tableobject = this;
        // if (!this.addrow || this.readonly) {
        //   // senapp.window.toast({ message: 'Bạn không có quyền sửa dòng này', type: 'danger' });
        //   senapp.window.toast({ message: 'You do not have permission to edit this row', type: 'danger' });
        //   return;
        // }
        // //nếu data rỗng thì lấy data từ tableobject.datas theo keyfield
        // if (!data) {
        //   const keyvalue = td.parentElement.getAttribute('data-id');
        //   data = tableobject.datas.find(item => item[tableobject.keyfield] == keyvalue);
        // }
      }
    }

    //#endregion
    $(function () { 
      senobjectobject.tbl.initTable(); 
    });
  </script>
</div>